<div class="bg-container">

    <div>
        <div class="bow-img" [class.bow-animation]="bowAnimation" (click)="startBowAnimation()">
            <img src="assets/images/bow.png">
        </div>
        <div class="butterfly-img" [class.butterfly-animation]="butterflyAnimation" (click)="startButterflyAnimation()">
            <img src="assets/images/butterfly.png">
        </div>

        <div class="cheese-img" [class.cheese-animation]="cheeseAnimation" (click)="startCheeseAnimation()">
            <img src="assets/images/cheese.png">
        </div>
        <div class="coins-img" [class.coins-animation]="coinsAnimation" (click)="startCoinsAnimation()">
            <img src="assets/images/coins.png">
        </div>
        <div class="dice-img" [class.dice-animation]="diceAnimation" (click)="startDiceAnimation()">
            <img src="assets/images/dice.png">
        </div>
        <div class="key-img" [class.key-animation]="keyAnimation" (click)="startKeyAnimation()">
            <img src="assets/images/key.png">
        </div>
        <div class="pencil-img" [class.pencil-animation]="pencilAnimation" (click)="startPencilAnimation()">
            <img src="assets/images/pencil.png">
        </div>
        <div class="pears-img" [class.pears-animation]="pearsAnimation" (click)="startPearsAnimation()">
            <img src="assets/images/pears.png">
        </div>
        <div class="piggy-bank-img" [class.piggybank-animation]="piggyBankAnimation" (click)="startPiggyBankAnimation()">
            <img src="assets/images/piggy-bank.png">
        </div>
        <div class="spoon-img" [class.spoon-animation]="spoonAnimation" (click)="startSpoonAnimation()">
            <img src="assets/images/spoon.png">
        </div>
    </div>
</div>