<div>
    <div class="invent-bg">
        <img src="assets/images/invent.png" alt="">
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-sm-4" [class.panel-text-bright]="textBrightBow">Bow</div>
            <div class="col-sm-4" [class.panel-text-bright]="textBrightButterfly">Butterfly</div>
            <div class="col-sm-4" [class.panel-text-bright]="textBrightCheese">Cheese</div>
            <div class="col-sm-4" [class.panel-text-bright]="textBrightCoins">Coins</div>
            <div class="col-sm-4" [class.panel-text-bright]="textBrightDice">Dice</div>
            <div class="col-sm-4" [class.panel-text-bright]="textBrightKey">Key</div>
            <div class="col-sm-4" [class.panel-text-bright]="textBrightPears">Pears</div>
            <div class="col-sm-4" [class.panel-text-bright]="textBrightPencil">Pencil</div>
            <div class="col-sm-4" [class.panel-text-bright]="textBrightSpoon">Spoon</div>
        </div>

    </div>
    <div class="points-collector">
        <div class="score-head">Score</div>
        <div class="score-added">{{score}}</div>
    </div>
</div>